<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/webfonts.css" media="screen" type="text/css"/>
	<link rel="stylesheet" href="css/marble.css" media="screen" type="text/css"/>
</head>
<body>
	<section id="player">
		<div id="litterature" v-if="!fullScreen">
            <div class="day" v-repeat="day in days" v-if="isDisplayed($index)">
                <h3>{{day.date}}</h3>
                <div class="chapter" ng-class="{ current: isCurrent($parent.$index, $index) }" ng-repeat="chapter in day.chapters" ng-click="setCurrent($parent.$index, $index)">
                    <span class="time"><u>{{chapter.time.getTime()}}</u> : </span>
                    <i ng-show="chapter.category=='media'" class="fa fa-youtube-square marron"></i>
                    <i ng-show="chapter.category=='text'" class="fa fa-twitter-square marron"></i>
                    &nbsp;{{chapter.content}}
                    <span class="author marron">&nbsp;--&nbsp;{{accounts[chapter.account]}}</span>
                </div>
            </div>
			<div style='clear: both'></div>
		</div>
		<div id="cinema" ng-class="{ fullscreen: fullScreen }">
			<twitter-card ng-show="isTwitter()"></twitter-card>
			<div ng-show="isYoutube()">
				<youtube-video ng-if="!fullScreen" id="video-player" video-id="currentVideo" player="player" player-vars="playerVars"></youtube-video>
			</div>
			<div ng-show="isYoutube()" class="big-screen">
				<youtube-video ng-if="fullScreen" id="fullscreen-player" video-id="currentVideo" player="player" player-vars="fullScreenVars" player-width="'100%'" player-height="'100%'"></youtube-video>
			</div>
		</div>
		<footer ng-class="{ fullscreen: fullScreen }">
			<img src="img/prev-video.png" width="100" height="100" ng-click="prevVideo()" title="Previous video"/>
			<img src="img/prev-grunge.png" width="100" height="100" ng-click="prev()" title="Previous"/>
			<img src="img/operator-false.png" width="100" height="100" ng-click="stopPlay()" class="operator" title="Toggle autoplay" ng-class="{ autoplay: autoplay }"/>
			<img src="img/next-grunge.png" width="100" height="100" ng-click="next()" title="Next"/>
			<img src="img/next-video.png" width="100" height="100" ng-click="nextVideo()" title="Next video"/>
			<img src="img/fullscreen.png" width="100" height="100" ng-click="setFullScreen()" title="Full screen"/>
		</footer>
	</section>
	
	<script src="vendor/vue.js"></script>
	<script src="marble.js"></script>
</body>
</html>
