
* {
    box-sizing: border-box;
}

body {
	background-color: black;
	margin: 1%;
	overflow: hidden;
}

h1 {
	color: white;
	font-family: '1942', cursive;
	text-align: left;
	font-size: 3em;
}

h3 {
	font-family: "impact_reversed", courrier;
}

h4 {
	margin: 5px;
}

.operator.autoplay {
    content: url(../img/operator-true.png);
}

.operator:hover {
    -webkit-animation: totheark 5s linear 0 infinite alternate;
}

@-webkit-keyframes totheark {
    0%  { transform: rotate(23deg); }
    25% { transform-origin: 23 23; transform: rotate(-38deg) }
    47% { transform: rotate(7deg); }
    48% { transform: rotate(-3deg); }
    68% { transition: all 800ms linear 0; transform: rotate(-7deg); -webkit-filter: blur(5px); }
    88% { transform: rotate(4deg); }
    90% { transition: all 400ms ease-in 0; transform: rotate(18deg); }
}

body {
  background: black;
  font-family: 'Varela', sans-serif;
}

#player {
	width: 99%;
	height: 99%;
	background-color: black;
}

#cinema {
	position: absolute;
	top: calc(50% - 195px);
	left: 0;
}

#cinema.fullscreen  {
	width: 100%;
	height: calc(100% - 40px);
	top: 0;
}

.big-screen {
	width: 100%;
	height: 100%;
}

.big-chapter {
    position: relative;
	font-size: 1.7em;
	width: 640px;
	height: 390px;
}

.big-chapter.fullscreen {
	width: 100%;
	height: 100%;
}

.big-chapter .time {
    position: absolute;
    top: 0;
    text-align: center;
	color: white;
}

.big-chapter .content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	
	font-family: "Verdana";
	font-weight: bold;
	color: white;
	text-align: center;
}

.big-chapter .author {
    position: absolute;
    bottom: 0;
    right: 0;
	text-align: right;
}

#litterature {
	position: absolute;
	right: 0;
	width: calc(100% - 690px);
	top: 0;
	overflow: hidden;
	height: 100%;
}

.day {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10%;
	background-color: white;
	border-image-source: url(../img/frame.jpg);
	border-image-slice: 109 104 126 104;
	border-image-width: 10%;
	border-image-repeat: stretch;
}

.time {
	font-family: "impact_reversed", courrier;
}

.chapter {
	font-family: "texgyre_regular", courrier;
	margin: 5px;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 2px;
	padding-left: 5px;
	
	transition: all 400ms ease-in 0;
}

.chapter:hover {
    background-color: #F1DFE7;
    box-shadow: 0 0 2px 2px #575757;
    cursor: pointer;
}

.current {
	background-color: #FFDFEC;
    box-shadow: 0 0 5px 5px #575757;
}

.author {
	font-family: "impact_reversed", courrier;
	white-space: pre;
	font-weight: bold;
}

.marron {
	color: #5A4B0A;
}

#timeline {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5%;
	width: 100%;
	background-color: yellow;
}

#timeline i {
	color: black;
}

.borne {
	position: absolute;
	bottom: 0;
}

#min {
	left: 0;
	text-align: left;
}

#max {
	right: 0;
	text-align: right;
}

footer {
    position: absolute;
    
    bottom: 0;
    left: 0;
    
    width: 100%;
    padding: 15px;
    
    text-align: center;
}

#controls {
	height: 20px;
	
	opacity: 0.1;
	transition: all 800ms ease-in 0;
}

#controls:hover{
    height: 40px;
	opacity: 1;
}

#controls img {
	height: 36px;
	width: 36px;
}

#jauge {
    width: 100%;    
    height: 25px;
    background-color: white;
    border-radius: 5px;
}

#jauge div {
    height: 100%;
    
    background-size: auto 100%;
    background-image: url(../img/jauge.png);
}
