<div class="day">
	<h3>{{day.date}}</h3>
	<div class="chapter" ng-class="{ current: current.is($parent.$index, $index) }" ng-repeat="chapter in day.chapters" ng-click="current.set($parent.$index, $index)">
		<span class="time"><u>{{chapter.time}}</u> : </span>
		<i ng-show="chapter.category=='media'" class="fa fa-youtube-square marron"></i>
		<i ng-show="chapter.category=='text'" class="fa fa-twitter-square marron"></i>
		&nbsp;{{chapter.content}}
		<span class="author marron">&nbsp;--&nbsp;{{story.accounts[chapter.account]}}</span>
	</div>
</div>
