<!DOCTYPE html>
<html lang="en" ng-app="player" >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/webfonts.css" media="screen" type="text/css"/>
	<link rel="stylesheet" href="css/marble.css" media="screen" type="text/css"/>
</head>
<body ng-controller="PlayerController">
	<section id="player" ng-if="params.loaded">
        <div id="litterature">
			<day-card ng-repeat="day in story.seasons[current.season]" ng-if="true || current.displayed($index)"></day-card>
			<div style='clear: both'></div>
		</div>
		<div id="cinema" ng-class="{ fullscreen: params.fullScreen }">
			<twitter-card ng-show="current.isTwitter()"></twitter-card>
			<div ng-show="current.isYoutube()">
				<youtube-video ng-if="!params.fullScreen" id="video-player" video-id="youtube.video" player="youtube.player" player-vars="youtube.params.normal"></youtube-video>
			</div>
			<div ng-show="current.isYoutube()" class="big-screen">
				<youtube-video ng-if="params.fullScreen" id="fullscreen-player" video-id="youtube.video" player="youtube.player" player-vars="youtube.params.full" player-width="'100%'" player-height="'100%'"></youtube-video>
			</div>
		</div>
		<footer ng-class="{ fullscreen: params.fullScreen }">
			<!--<img src="img/prev-video.png" width="100" height="100" ng-click="prevVideo()" title="Previous video"/>-->
			<img src="img/prev-grunge.png" width="100" height="100" ng-click="current.prev()" title="Previous"/>
			<img src="img/operator-false.png" width="100" height="100" ng-click="params.stopPlay()" class="operator" title="Toggle autoplay" ng-class="{ autoplay: params.autoPlay }"/>
			<img src="img/next-grunge.png" width="100" height="100" ng-click="current.next()" title="Next"/>
			<!--<img src="img/next-video.png" width="100" height="100" ng-click="nextVideo()" title="Next video"/>-->
			<img src="img/fullscreen.png" width="100" height="100" ng-click="setFullScreen()" title="Full screen"/>
		</footer>
	</section>
	
	<script src="vendor/angular.js"></script>
	<script src="vendor/angular-animate.js"></script>
	<script src="vendor/angular-youtube-embed.min.js"></script>
	<script src="vendor/angular-scroll.min.js"></script>
	<script src="marble.js"></script>
</body>
</html>
