* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  background-color: black; }
  body header {
    width: 640px;
    color: white;
    font-family: "1942", cursive;
    text-align: center;
    font-size: 3em; }
    body header #seasons {
      width: 640px;
      margin-top: 10px;
      color: white;
      text-align: center;
      font-family: "impact_reversed", courrier;
      font-size: 0.7em; }
      body header #seasons span {
        cursor: pointer; }
        body header #seasons span:hover {
          -webkit-filter: blur(2px); }
  body #litterature {
    position: absolute;
    right: 20px;
    width: calc(100% - 690px);
    top: 0;
    overflow: hidden;
    height: 100%;
    background-image: url(../img/frame.png);
    background-size: cover; }
    body #litterature .day {
      padding: 10%;
      border-bottom: 40px solid black; }
      body #litterature .day h3, body #litterature .day .time {
        font-family: "impact_reversed", courrier; }
      body #litterature .day .chapter {
        font-family: "texgyre_regular", courrier;
        margin: 5px;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 2px;
        padding-left: 5px;
        transition: all 400ms ease-in 0; }
        body #litterature .day .chapter:hover {
          background-color: #F1DFE7;
          box-shadow: 0 0 2px 2px #575757;
          cursor: pointer; }
        body #litterature .day .chapter.current {
          background-color: #FFDFEC;
          box-shadow: 0 0 5px 5px #575757; }
        body #litterature .day .chapter .author {
          font-family: "impact_reversed", courrier;
          white-space: pre;
          font-weight: bold;
          color: #5A4B0A; }
      body #litterature .day.delay {
        text-align: center;
        font-size: 2em;
        padding: 0;
        font-family: "impact_reversed", courrier;
        background: black;
        color: white; }
  body #cinema {
    position: absolute;
    top: calc(50% - 195px);
    left: 0;
    padding-left: 15px; }
    body #cinema.fullscreen {
      width: 100%;
      height: calc(100% - 40px);
      top: 0; }
    body #cinema .big-chapter {
      position: relative;
      font-size: 1.7em;
      width: 640px;
      height: 390px; }
      body #cinema .big-chapter.fullscreen {
        width: 100%;
        height: 100%; }
      body #cinema .big-chapter .time {
        position: absolute;
        top: 0;
        text-align: center;
        color: white; }
      body #cinema .big-chapter .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        font-family: "Verdana";
        font-weight: bold;
        color: white;
        text-align: center; }
    body #cinema #description {
      font-family: "impact_reversed", courrier;
      font-size: 1.5em;
      color: white;
      text-align: center; }
      body #cinema #description .author {
        color: #5A4B0A; }
    body #cinema .big-screen {
      width: 100%;
      height: 100%; }
  body footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 675px;
    padding: 15px;
    text-align: center; }
    body footer.fullscreen {
      width: 100%; }
    body footer #controls {
      height: 40px;
      opacity: 0.3;
      transition: all 400ms ease-in 0; }
      body footer #controls:hover {
        opacity: 0.8; }
      body footer #controls img {
        height: 36px;
        width: 36px; }
      body footer #controls .operator.autoplay {
        content: url(../img/operator-true.png); }
      body footer #controls .operator:hover {
        animation: totheark 5s linear 0 infinite alternate; }
    body footer #jauge {
      width: 100%;
      height: 25px;
      border-radius: 5px; }
      body footer #jauge div {
        height: 100%;
        background-size: cover;
        background-image: url(../img/jauge.png); }

@keyframes totheark {
  0% {
    transform: rotate(23deg); }
  25% {
    transform-origin: 23 23;
    transform: rotate(-38deg); }
  47% {
    transform: rotate(7deg); }
  48% {
    transform: rotate(-3deg); }
  68% {
    transition: all 800ms linear 0;
    transform: rotate(-7deg);
    filter: blur(5px); }
  88% {
    transform: rotate(4deg); }
  90% {
    transition: all 400ms ease-in 0;
    transform: rotate(18deg); } }

/*# sourceMappingURL=marble.css.map */
